#pertag {
	color: #69ff56;
	text-align: center;
}

#myProgress {
	width: 100%;
	background-color: #000000;
}

#myBar {
	width: 1%;
	height: 30px;
	background-color: #69ff56;
}

#ulll {
	list-style: none;
}
