:root {
  --main-color: #010808;
  --main-opp-color: #69ff56;
}

body {
  font-family: "Fira Mono", monospace;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  text-align: center;
  font-size: 5em;
  line-height: 20vh;
  color: var(--main-opp-color);
  background-color: var(--main-color);
  height: 20vh;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100vw);
          transform: translate(-100vw);
  -webkit-animation: enter-title 1s forwards;
          animation: enter-title 1s forwards;
}

header:hover {
  letter-spacing: 10px;
  height: 23vh;
  line-height: 23vh;
  background-color: var(--main-opp-color);
  color: var(--main-color);
}

@-webkit-keyframes enter-title {
  from {
    -webkit-transform: translate(-100vw);
            transform: translate(-100vw);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes enter-title {
  from {
    -webkit-transform: translate(-100vw);
            transform: translate(-100vw);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

main {
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--main-color);
  color: var(--main-opp-color);
  height: 70vh;
  width: 100%;
  -webkit-transform: translate(100vw);
          transform: translate(100vw);
  -webkit-animation: enter-content 1s 1s forwards;
          animation: enter-content 1s 1s forwards;
}

@-webkit-keyframes enter-content {
  from {
    -webkit-transform: translate(100vw);
            transform: translate(100vw);
  }
  to {
    -webkit-transform: translate(0vw);
            transform: translate(0vw);
  }
}

@keyframes enter-content {
  from {
    -webkit-transform: translate(100vw);
            transform: translate(100vw);
  }
  to {
    -webkit-transform: translate(0vw);
            transform: translate(0vw);
  }
}

main #controls {
  background-color: var(--main-color);
  opacity: 0;
  width: 20%;
  border: solid 2px var(--main-opp-color);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-animation: display-settings 0.5s 3s forwards;
          animation: display-settings 0.5s 3s forwards;
}

main #controls #set {
  font-size: 2.3em;
  text-align: center;
  width: 4vw;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
}

main #controls #content {
  width: 19vw;
  text-align: left;
  padding-left: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 0.8em;
}

main #controls #content::-webkit-scrollbar {
  width: 0.2em;
  background-color: var(--main-color);
}

main #controls #content::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

main #controls #content::-webkit-scrollbar-thumb {
  background-color: var(--main-opp-color);
  border-radius: 200px;
}

main #controls #content::-webkit-scrollbar-corner {
  background-color: var(--main-color);
}

main #controls #content button {
  border: solid 1px var(--main-opp-color);
  background-color: var(--main-color);
  color: var(--main-opp-color);
  width: 100px;
  padding: 1em 1em;
  border-radius: 10px;
  margin: 10px 5px;
  -webkit-transition: background-color 0.1s, color 0.1s;
  transition: background-color 0.1s, color 0.1s;
}

main #controls #content button:hover, main #controls #content button:active {
  background-color: var(--main-opp-color);
  color: var(--main-color);
}

main #controls #content #themes #theme-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #controls #content #themes #theme-select button:last-of-type {
  margin-bottom: 0;
}

@-webkit-keyframes display-settings {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes display-settings {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main #story {
  overflow: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 99%;
  margin-left: 5px;
  border: solid 2px var(--main-opp-color);
  border-radius: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-animation: story-appear 0.7s 3.5s forwards;
          animation: story-appear 0.7s 3.5s forwards;
}

main #story #story-input {
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 10%;
}

main #story #story-input #text-input {
  width: 70%;
  background-color: var(--main-color);
  border: solid 1px var(--main-opp-color);
  color: var(--main-opp-color);
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 10px;
  caret-color: var(--main-opp-color);
}

main #story #story-input button {
  width: 10%;
  border: none;
  border-bottom: solid 2px var(--main-opp-color);
  background-color: var(--main-color);
  color: var(--main-opp-color);
  border-radius: 10px;
  -webkit-transition: background-color 0.1s, color 0.1s;
  transition: background-color 0.1s, color 0.1s;
}

main #story #story-input button:hover, main #story #story-input button:active {
  background-color: var(--main-opp-color);
  color: var(--main-color);
}

main #story #story-output {
  overflow: scroll;
  padding: 20px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 1.2em;
  width: 90%;
  height: 90%;
  border: solid 2px var(--main-opp-color);
}

main #story #story-output::-webkit-scrollbar {
  width: 0.4em;
  background-color: var(--main-color);
}

main #story #story-output::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

main #story #story-output::-webkit-scrollbar-thumb {
  background-color: var(--main-opp-color);
  border-radius: 200px;
}

main #story #story-output::-webkit-scrollbar-corner {
  background-color: var(--main-color);
}

@-webkit-keyframes story-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes story-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  height: 10vh;
  color: var(--main-opp-color);
  background-color: var(--main-color);
  -webkit-transform: translate(-100vw);
          transform: translate(-100vw);
  -webkit-box-shadow: 0px 0px 0px 1px black;
  box-shadow: 0px 0px 0px 1px black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: enter-footer 1s 2s forwards;
          animation: enter-footer 1s 2s forwards;
}

footer:hover {
  background-color: var(--main-opp-color);
  color: var(--main-color);
}

footer #names {
  margin-top: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer #names li {
  opacity: 0;
  padding-top: 25px;
  padding-bottom: 28px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: background-color 0.1s, color 0.1s;
  transition: background-color 0.1s, color 0.1s;
}

footer #names li:hover {
  color: var(--main-opp-color);
  background-color: var(--main-color);
}

footer #names #kush {
  -webkit-animation: appear 0.5s 4.2s forwards;
          animation: appear 0.5s 4.2s forwards;
}

footer #names #ravi {
  -webkit-animation: appear 0.5s 4.7s forwards;
          animation: appear 0.5s 4.7s forwards;
}

footer #names #shreyas {
  -webkit-animation: appear 0.5s 5.2s forwards;
          animation: appear 0.5s 5.2s forwards;
}

footer #names #nikheel {
  -webkit-animation: appear 0.5s 5.7s forwards;
          animation: appear 0.5s 5.7s forwards;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes enter-footer {
  from {
    -webkit-transform: translate(-100vw);
            transform: translate(-100vw);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes enter-footer {
  from {
    -webkit-transform: translate(-100vw);
            transform: translate(-100vw);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media only screen and (max-width: 1100px) {
  #content button {
    padding: 1em 1em;
  }
}

@media only screen and (max-width: 900px) {
  main {
    padding-top: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: var(--main-color);
    color: var(--main-opp-color);
    height: 70vh;
    width: 120vw;
    -webkit-transform: translate(100vw);
            transform: translate(100vw);
    -webkit-animation: enter-content 1s 1s forwards;
            animation: enter-content 1s 1s forwards;
  }
  @-webkit-keyframes enter-content {
    from {
      -webkit-transform: translate(100vw);
              transform: translate(100vw);
    }
    to {
      -webkit-transform: translate(-20vw);
              transform: translate(-20vw);
    }
  }
  @keyframes enter-content {
    from {
      -webkit-transform: translate(100vw);
              transform: translate(100vw);
    }
    to {
      -webkit-transform: translate(-20vw);
              transform: translate(-20vw);
    }
  }
  main #controls {
    background-color: var(--main-color);
    opacity: 0;
    width: 26vw;
    border: solid 2px var(--main-opp-color);
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: relative;
    z-index: 100;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-animation: display-settings 0.5s 3s forwards;
            animation: display-settings 0.5s 3s forwards;
  }
  main #controls #set {
    font-size: 2.2em;
    text-align: center;
    width: 6vw;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
  }
  main #controls #content {
    width: 20vw;
    text-align: left;
    padding-left: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 0.7em;
  }
  main #controls #content button {
    border: solid 1px var(--main-opp-color);
    background-color: var(--main-color);
    color: var(--main-opp-color);
    width: 100px;
    padding: 1em 1em;
    border-radius: 10px;
    margin: 10px 5px;
    -webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
  }
  main #controls #content button:hover, main #controls #content button:active {
    background-color: var(--main-opp-color);
    color: var(--main-color);
  }
  main #controls #content #themes #theme-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #controls #content #themes #theme-select button:last-of-type {
    margin-bottom: 0;
  }
  main #controls:hover {
    -webkit-transform: translate(20vw);
            transform: translate(20vw);
  }
  @-webkit-keyframes display-settings {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes display-settings {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  main #story {
    overflow: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 99%;
    margin-left: 5px;
    border: solid 2px var(--main-opp-color);
    border-radius: 30px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-animation: story-appear 0.7s 3.5s forwards;
            animation: story-appear 0.7s 3.5s forwards;
  }
  main #story #story-input {
    padding-top: 1%;
    padding-left: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 10%;
  }
  main #story #story-input #text-input {
    width: 70%;
    height: 100%;
    background-color: var(--main-color);
    border: solid 1px var(--main-opp-color);
    color: var(--main-opp-color);
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 10px;
    caret-color: var(--main-opp-color);
  }
  main #story #story-input button {
    width: 8%;
    border: none;
    border-bottom: solid 2px var(--main-opp-color);
    background-color: var(--main-color);
    color: var(--main-opp-color);
    border-radius: 10px;
    -webkit-transition: background-color 0.1s, color 0.1s;
    transition: background-color 0.1s, color 0.1s;
  }
  main #story #story-input button:hover, main #story #story-input button:active {
    background-color: var(--main-opp-color);
    color: var(--main-color);
  }
  main #story #story-output {
    padding-top: 10px;
    padding-left: 10px;
    margin: 20px 20px;
    font-size: 1.3em;
    border-radius: 5px;
    width: 95%;
    height: 90%;
    border: solid 2px var(--main-opp-color);
  }
  @-webkit-keyframes story-appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes story-appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

*::-moz-selection {
  color: var(--main-color);
  background-color: var(--main-opp-color);
}

*::selection {
  color: var(--main-color);
  background-color: var(--main-opp-color);
}

@-webkit-keyframes ldio-6hi50wurrob {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ldio-6hi50wurrob {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.ldio-6hi50wurrob div {
  position: absolute;
  -webkit-animation: ldio-6hi50wurrob 1s linear infinite;
          animation: ldio-6hi50wurrob 1s linear infinite;
  width: 112px;
  height: 112px;
  top: 44px;
  left: 44px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 0 0 var(--main-opp-color);
          box-shadow: 0 4px 0 0 var(--main-opp-color);
  -webkit-transform-origin: 56px 58px;
          transform-origin: 56px 58px;
}

.loadingio-spinner-eclipse-2we2o8onnes {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 50%;
  overflow: hidden;
  background: #010808;
  display: none;
}

.ldio-6hi50wurrob {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.ldio-6hi50wurrob div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* generated by https://loading.io/ */
/*# sourceMappingURL=main.css.map */