$header-enter-time: 1s;
$content-enter-time: $header-enter-time + 1s;
$footer-enter-time: $content-enter-time + 1s;
$settings-appear-time: $footer-enter-time + 0.5s;
$story-appear-time: $settings-appear-time + 0.7s;
$diff: 0.5s;
$kush: $story-appear-time + $diff;
$ravi: $kush + $diff;
$shreyas: $ravi + $diff;
$nikheel: $shreyas + $diff;
:root {
	--main-color: #010808;
	--main-opp-color: #69ff56;
}

// resets

body {
	font-family: "Fira Mono", monospace;
	padding: 0;
	margin: 0;
	overflow-y: hidden; // hide vertical
	overflow-x: hidden; // hide horizontal
}

// $main-color: #010808;
// $main-opp-color: #33faff;

header {
	text-align: center;
	font-size: 5em;
	line-height: 20vh;
	color: var(--main-opp-color);
	background-color: var(--main-color);
	height: 20vh;
	position: relative;
	transition: all 0.3s;
	transform: translate(-100vw);
	animation: enter-title 1s forwards;
	&:hover {
		letter-spacing: 10px;
		height: 23vh;
		line-height: 23vh;
		background-color: var(--main-opp-color);
		color: var(--main-color);
	}
	@keyframes enter-title {
		from {
			transform: translate(-100vw);
		}
		to {
			transform: translate(0);
		}
	}
}

main {
	padding-top: 3px;
	display: flex;
	position: relative;
	flex-direction: row;
	background-color: var(--main-color);
	color: var(--main-opp-color);
	height: 70vh;
	width: 100%;
	transform: translate(100vw);
	animation: enter-content 1s $header-enter-time forwards;
	@keyframes enter-content {
		from {
			transform: translate(100vw);
		}
		to {
			transform: translate(0vw);
		}
	}
	#controls {
		background-color: var(--main-color);
		opacity: 0;
		width: 20%;
		border: solid 2px var(--main-opp-color);
		border-radius: 40px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: start;
		#set {
			font-size: 2.3em;
			text-align: center;
			width: 4vw;
			writing-mode: vertical-lr;
			text-orientation: upright;
		}
		#content {
			width: 19vw;
			text-align: left;
			padding-left: 1em;
			overflow-y: scroll;
			overflow-x: hidden;
			margin: 1em;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			font-size: 0.8em;

			&::-webkit-scrollbar {
				width: 0.2em;
				background-color: var(--main-color);
			}

			&::-webkit-scrollbar-track {
				background-color: var(--main-color);
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--main-opp-color);
				border-radius: 200px;
			}
			&::-webkit-scrollbar-corner {
				background-color: var(--main-color);
			}

			button {
				border: solid 1px var(--main-opp-color);
				background-color: var(--main-color);
				color: var(--main-opp-color);
				width: 100px;
				padding: 1em 1em;
				border-radius: 10px;
				margin: 10px 5px;
				transition: background-color 0.1s, color 0.1s;
				&:hover,
				&:active {
					background-color: var(--main-opp-color);
					color: var(--main-color);
				}
			}

			#themes #theme-select {
				display: flex;
				flex-direction: column;
				button:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		animation: display-settings 0.5s $footer-enter-time forwards;
		@keyframes display-settings {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	}

	#story {
		overflow: hidden;
		opacity: 0;
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 99%;
		margin-left: 5px;
		border: solid 2px var(--main-opp-color);
		border-radius: 30px;
		justify-content: flex-start;
		animation: story-appear 0.7s $settings-appear-time forwards;
		#story-input {
			padding: 1%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			height: 10%;

			#text-input {
				width: 70%;
				background-color: var(--main-color);
				border: solid 1px var(--main-opp-color);
				color: var(--main-opp-color);
				border-radius: 5px;
				padding-left: 1%;
				padding-right: 1%;
				margin-right: 10px;
				caret-color: var(--main-opp-color);
			}

			button {
				width: 10%;
				border: none;
				border-bottom: solid 2px var(--main-opp-color);
				background-color: var(--main-color);
				color: var(--main-opp-color);
				border-radius: 10px;
				transition: background-color 0.1s, color 0.1s;
				&:hover,
				&:active {
					background-color: var(--main-opp-color);
					color: var(--main-color);
				}
			}
		}

		#story-output {
			overflow: scroll;
			padding: 20px;
			margin: 10px auto;
			border-radius: 5px;
			font-size: 1.2em;
			width: 90%;
			height: 90%;
			border: solid 2px var(--main-opp-color);

			&::-webkit-scrollbar {
				width: 0.4em;
				background-color: var(--main-color);
			}

			&::-webkit-scrollbar-track {
				background-color: var(--main-color);
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--main-opp-color);
				border-radius: 200px;
			}
			&::-webkit-scrollbar-corner {
				background-color: var(--main-color);
			}
		}

		@keyframes story-appear {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}
}

footer {
	height: 10vh;
	color: var(--main-opp-color);
	// z-index: -2;
	background-color: var(--main-color);

	transform: translate(-100vw);

	-webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);

	transition: all 0.2s;
	&:hover {
		background-color: var(--main-opp-color);
		color: var(--main-color);
	}

	#names {
		margin-top: 0;
		padding-left: 0;
		// padding-top: 25px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style: none;
		li {
			opacity: 0;
			padding-top: 25px;
			padding-bottom: 28px;
			flex-grow: 1;
			text-align: center;
			border-radius: 3px;
			transition: background-color 0.1s, color 0.1s;
			&:hover {
				color: var(--main-opp-color);
				background-color: var(--main-color);
			}
		}

		#kush {
			animation: appear $diff $story-appear-time forwards;
		}
		#ravi {
			animation: appear $diff $kush forwards;
		}
		#shreyas {
			animation: appear $diff $ravi forwards;
		}
		#nikheel {
			animation: appear $diff $shreyas forwards;
		}

		@keyframes appear {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}
	}
	animation: enter-footer 1s $content-enter-time forwards;
	@keyframes enter-footer {
		from {
			transform: translate(-100vw);
		}
		to {
			transform: translate(0);
		}
	}
}

@media only screen and (max-width: 1100px) {
	#content {
		button {
			padding: 1em 1em;
		}
	}
}

@media only screen and (max-width: 900px) {
	main {
		padding-top: 3px;
		display: flex;
		position: relative;
		flex-direction: row;
		background-color: var(--main-color);
		color: var(--main-opp-color);
		height: 70vh;
		width: 120vw;
		transform: translate(100vw);
		animation: enter-content 1s $header-enter-time forwards;
		@keyframes enter-content {
			from {
				transform: translate(100vw);
			}
			to {
				transform: translate(-20vw);
			}
		}
		#controls {
			background-color: var(--main-color);
			opacity: 0;
			width: 26vw;
			border: solid 2px var(--main-opp-color);
			border-radius: 40px;
			display: flex;
			flex-direction: row-reverse;
			justify-content: start;
			position: relative;
			z-index: 100;
			transition: all 0.2s;
			#set {
				font-size: 2.2em;
				text-align: center;
				width: 6vw;
				writing-mode: vertical-lr;
				text-orientation: upright;
			}
			#content {
				width: 20vw;
				text-align: left;
				padding-left: 1em;
				display: flex;
				flex-direction: column;
				font-size: 0.7em;

				button {
					border: solid 1px var(--main-opp-color);
					background-color: var(--main-color);
					color: var(--main-opp-color);
					width: 100px;
					padding: 1em 1em;
					border-radius: 10px;
					margin: 10px 5px;
					transition: background-color 0.1s, color 0.1s;
					&:hover,
					&:active {
						background-color: var(--main-opp-color);
						color: var(--main-color);
					}
				}

				#themes #theme-select {
					display: flex;
					flex-direction: column;
					button:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			&:hover {
				transform: translate(20vw);
			}
			animation: display-settings 0.5s $footer-enter-time forwards;
			@keyframes display-settings {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}
		}

		#story {
			overflow: hidden;
			opacity: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 99%;
			margin-left: 5px;
			border: solid 2px var(--main-opp-color);
			border-radius: 30px;
			justify-content: flex-start;
			animation: story-appear 0.7s $settings-appear-time forwards;
			#story-input {
				padding-top: 1%;
				padding-left: 1%;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				height: 10%;

				#text-input {
					width: 70%;
					height: 100%;
					background-color: var(--main-color);
					border: solid 1px var(--main-opp-color);
					color: var(--main-opp-color);
					border-radius: 5px;
					padding-left: 1%;
					padding-right: 1%;
					margin-right: 10px;
					caret-color: var(--main-opp-color);
				}

				button {
					width: 8%;
					border: none;
					border-bottom: solid 2px var(--main-opp-color);
					background-color: var(--main-color);
					color: var(--main-opp-color);
					border-radius: 10px;
					transition: background-color 0.1s, color 0.1s;
					&:hover,
					&:active {
						background-color: var(--main-opp-color);
						color: var(--main-color);
					}
				}
			}

			#story-output {
				padding-top: 10px;
				padding-left: 10px;
				margin: 20px 20px;
				font-size: 1.3em;
				border-radius: 5px;
				width: 95%;
				height: 90%;
				border: solid 2px var(--main-opp-color);
			}

			@keyframes story-appear {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}
		}
	}
}

*::selection {
	color: var(--main-color);
	background-color: var(--main-opp-color);
}

@keyframes ldio-6hi50wurrob {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.ldio-6hi50wurrob div {
	position: absolute;
	animation: ldio-6hi50wurrob 1s linear infinite;
	width: 112px;
	height: 112px;
	top: 44px;
	left: 44px;
	border-radius: 50%;
	box-shadow: 0 4px 0 0 var(--main-opp-color);
	transform-origin: 56px 58px;
}
.loadingio-spinner-eclipse-2we2o8onnes {
	width: 200px;
	height: 200px;
	display: inline-block;
	position: absolute;
	top: 35%;
	left: 50%;
	overflow: hidden;
	background: #010808;
	display: none;
}
.ldio-6hi50wurrob {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-6hi50wurrob div {
	box-sizing: content-box;
}
/* generated by https://loading.io/ */
