body,
button,
input {
	font-family: "Share Tech Mono", monospace;
}
ul {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	margin: 0;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
	font-weight: normal;
	margin: 0;
}

button,
input {
	outline: none;
	border: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: white;
}

p,
a,
button,
input {
	font-size: 16px;
}
